.container{
    background-color: black;
    color: aliceblue !important;
    position: relative;
    top: 2vh;
    padding-left: 15px;
}

.short-information{
    display: flex;
    gap: 10px;
}
.age{
    background-color:rgb(44, 172, 13);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.age-18{
    background-color:rgb(229, 9, 20);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.company{
    display: flex;
    align-items: center;
}
.creator, .starring{
    font-size: 12px !important;
    color: 	#dddddd;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.flim-des-4{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3; 
    -webkit-box-orient: vertical;
}
@media screen and (min-width: 1023px){
    #box-container{
        width: "60vw" !important
    } 
}
@media  screen and (min-width: 640px){
    #box-container{
        width: "90vw"!important
    }
}
@media screen and (min-width: 0px){
    #box-container{
        width: "90vw" !important
    }
}
@media screen and (min-width: 1105px){
    #box-container{
        width: "60vw"!important
    }

}